// COOKIEBAR
.cookiebar {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  .cookiebar-info {
    padding: 1rem;
    color: #fff;
    max-width: 1140px;
    p {
      color: #fff;
    }
    a {
      color: #fff;
    }
  }
  button {
    border: none;
    padding: 0.5rem 1rem;
    color: #000;
    background: #fff;
    font-family: $font-primary;
    text-transform: uppercase;
    &:hover {
      background: lighten(green, 20%);
    }
  }
  button.accept {
    background: lighten(green, 10%);
    &:hover {
      background: lighten(green, 20%);
      text-decoration: none;
    }
  }
}
#cookiebar-show {
  text-decoration: none;
  color: #bbb;
  &:hover {
    color: $color1;
  }
}
