/* STEUN DE SP WORD LID */
#block-afd-steun .afd-word-lid-steun {
	display: block;
	font-size: 4rem;
	line-height: 3.4rem;
	margin-top: 2px;
}
#block-afd-steun h4 {
	font-size: 1.5rem;
	color: $color1;
	font-family: $font-primary;
}
#block-afd-steun h4 a, #block-afd-steun h4 a:visited {
	color: $color1;
}