// VERKIEZINGEN
.node-type-verkiezingen #container {
    padding-top: 0;
    .field-collection-view {
        padding: 0;
        margin: 0;
    }
    .field-collection-view-links {
        li {
            margin-bottom: 0;
        }
    }
    .field-collection-container {
        margin-bottom: 0;
        border-bottom: 1px solid blue;
    }
}
// TITLES
.node-type-verkiezingen h2.title {
    color: $color1;
    margin: 0 auto 1rem auto;
}
@media screen and (max-width: $content-width){
    .node-type-verkiezingen h2.title {
        padding-left: 1rem;
    }
}
// end shame

// HEADER
.verkiezingen-header {
    border-top: 4px solid $color1;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    h2 {
        margin-bottom: 0;
    }
    .verkiezingen-datum {
        width: 100%;
        text-align: center;
    }
}
.verkiezingen-content {
    background: #f1f1f1;
    padding: 1rem 0;
}
.verkiezingen-footer {
    padding: 1rem;
}

// LIJSTTREKKER
.lijsttrekker {
    .lijststrekker-foto img {
        display: block;
        width: 100%;
        height: auto;
    }
    .lijsttrekker-functie {
        font-size: 0.8rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-bottom: 1px solid #ddd;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }
    .lijsttrekker-content {
        background: #fff;
        padding: 6rem 9rem;
        max-width: $content-width;
        float:right;
        position: relative;
        margin-top: -100px;
        margin-bottom: 3rem;
    }
}
@media screen and ()
// KANDIDATEN
.field-name-field-kandidaten {
    > .field-label {
        padding-left: 1rem;
    }
    > .field-items {
        display: flex;
        flex-direction: row;
        //flex-wrap: nowrap;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 1rem;
        gap: 1rem;
        .field-item {
            background: $color1;
            color: #fff;
            text-align: center;
        }
    }
    .kandidaat {
        display: grid;
        justify-content: center;
        justify-items: center;
        padding: 5rem 1rem;
        width: 320px;
        touch-action: pan-y;
    }
    .kandidaat-foto {
        border-radius: 50%;
        border: 4px solid #fff;
        background: #ccc;
        overflow: hidden;
        width: 120px;
        height: 120px;
        text-align: center;
        margin-bottom: 1rem;
        img {
            width: 100%;
            height: auto;
        }
    }
    .field-name-field-kandidaat-naam h3 {
        font-size: 1rem;
    }
}

// SPEERPUNTEN
.speerpunt {
    max-width: $content-width;
    background: #fff;
    padding: 2rem 3rem;
    margin: 1rem auto;
    // .field-name-field-speerpunt-beschrijving {
    //     font-family: $font-middle;
    // }
}
@media screen and (min-width: $content-width){
    .speerpunt {
        padding: 4rem 6rem;
    }
}

// STANDPUNTEN
.standpunt {
    max-width: $content-width;
    background: #fff;
    padding: 2rem 3rem;
    margin: 1rem auto;
    // .field-name-field-standpunt-beschrijving {
    //     font-family: $font-middle;
    // }
}
@media screen and (min-width: $content-width){
    .standpunt {
        padding: 4rem 6rem;
    }
}

// PROGRAMMA
.programma {
    max-width: $content-width;
    background: #fff;
    padding: 2rem 3rem;
    margin: 1rem auto;
    // .field-name-field-programma-intro {
    //     font-family: $font-middle;
    // }
    .field-name-field-programma-doc {
        .file img {
            display: none;
        }
        .file a {
            background: $color1;
            font-family: $font-middle;
            padding: 0.5rem;
            color: #fff;
            text-decoration: none;
            border: 1px solid $color1;
            &:hover{
                background: #fff;
                color: $color1;
            }
        }

    }    
}