/* GLOBAL VARIABLES */

/* COLORS */
$color1: #EC1B23; // red sp.nl
$color2: #333333; // White
$color3: #FFFFFF; // Very dark gray
$color4: #DDDDDD; // Gray
$color5: #F5F5F5; // Almost white 

$bg1: #FFFFFF; // Background Primary
$bg2: #F1F1F1; // Background Secondary
$bg3: #F0F0F0;

// TYPOGRAPHY
$font-primary: 'HelveticaInseratLTPro', sans-serif;
$font-strong: 'HelveticaNeueLTStd-Md',sans-serif;
$font-middle: 'HelveticaNeueLTStd-BdCn',sans-serif;
$font-body: 'HelveticaNeueLT-Light',sans-serif;
$font-icons: 'FontAwesome';
$spruit-icons: 'SPruit-icons';
$cc-icons: '';


// SOCIAL MEDIA
$facebook: #3b5998;
$twitter: #55acee;
$linkedin: #007bb5;
$whatsapp: #00e676; //old #4dc247
$snapchat: #fffc00;
$instagram: #125688;
$youtube: #bb0000;
$dropbox: #007ee5;
$email: $color3;

/* BOX-SHADOW */
$box-shadow: 2px 2px 5px #ddd;
